{% extends 'diary_app/index.html'%}

{%block scripts%}
<script>
// jquery function
$(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [{%for entry_type in entry_types%}'{{entry_type}}',{%endfor%}], //loop through queryset, 
                datasets: [{
                    label: '# of users',
                    data: [{%for entry_length in entry_lengths %}{{ entry_length }},{%endfor%}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
    });
</script>
{%endblock scripts%}

{% block content %}
    <h1><b>Welcome {{ request.user.username }}</b></h1>
    <h2>Hours Per Entry Type</h2>
    <canvas id="myChart" width="400" height="100"></canvas>  
    <p><b>Entry Types</b></p>
    <div class="list-group">
        {% for entry_type in entry_types %}
            <a href="{% url 'diary_app:entry_type' entry_type.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{entry_type}}</h5>
                </div>
                <small>Started at {{entry_type.start_date}}</small>
            </a>
        {% endfor %}
    </div>
{% endblock %}